@import './Form.scss';
@import './typography.scss';
@import './vars.scss';
@import './File.scss';
@import './Steps.scss';
@import './General.scss';

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__title {
    margin-bottom: 7vw;
    margin-top: 0;
  }
}
