@import './vars.scss';

* {
  box-sizing: border-box;
}

input,
label,
textarea,
button {
  cursor: pointer;
}

button {
  transition: opacity 1s;

  &:hover {
    opacity: 0.8;
  }
}

body {
  background: $body-bg;
  padding: 60px 0 0;
  margin: 0;
  font-family: $main-font;
}

.red {
  color: $highlighted-color;
}

