@import './vars.scss';

.steps {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 610px;
  max-width: 95%;
  padding: 4.5%;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    border-radius: 50%;

    &--non-active {
      background-color: $main-color;
    }

    &--active {
      background-color: $highlighted-color;
    }
  }

  &__line {
    width: 29%;
    height: 2px;
    background: $input-border-color;
    opacity: 0.2;
    border-radius: 8px;
  }
}
