@import './vars.scss';

.app {
  &__title {
    letter-spacing: .1rem;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 64px;
    color: $title-text-color;
  }
}

.form {
  &__error {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: $highlighted-color;
  }

  &__input {
    &::placeholder {
      letter-spacing: .05rem;
      font-family: $main-font;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 100%;
      color: $placeholder-text-color;
    }
  }

  &__label {
    font-size: 14px;
    line-height: 100%;
    color: $label-text-color;
  }

  &__text-area {

    &::placeholder {
      letter-spacing: .05rem;
      font-family: $main-font;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 100%;
      color: $placeholder-text-color;
    }
  }

  &__button {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $title-text-color;
  }
}

.file {
  color: $file-text-color;

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    text-align: right;
    color: $placeholder-text-color;
  }
}


.steps {
  &__item {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 64px;
    text-align: center;
    color: $title-text-color;
  }
}

@media screen and (max-width: 700px) {
  .app {
    &__title {
      font-size: 25px;
    }
  }
  .form {
    &__input,
    &__text-area {
      &::placeholder {
        font-size: 12px;
      }
    }
  }
  .file {
    &__text,
    &__label {
      font-size: 12px;
    }
  }
}
