$title-text-color: #fff;
$body-bg: linear-gradient(228.75deg, #216190 19.65%, rgb(7, 51, 207) 81.25%);
$main-color: #1e34a5;
$label-text-color: #636363;
$input-bg-color: #f9f9f9;
$input-border-color: #ebe8e8;
$file-text-color: #333;
$highlighted-color: #f15557;
$placeholder-text-color: #a7a7a7;
$main-font: "Open Sans", sans-serif;
