@import '../../../../generalStyles/vars.scss';
@import '../../../../generalStyles/General.scss';

.error {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0;
  height: 20px;

  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: $highlighted-color;
}

.option {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 100%;
  color: $label-text-color;
}

.textArea {
  height: 168px;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;

  background: $input-bg-color;
  border-radius: 8px;
  border: none;
  outline: none;

  &::placeholder {
    display: flex;
    align-items: center;
    z-index: 2;

    letter-spacing: .05rem;
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: $placeholder-text-color;
  }
}

.textAreaInvalid {
  border: 1px solid $highlighted-color;
}


@media screen and (max-width: 700px) {
  .textArea {
    &::placeholder {
      font-size: 12px;
    }
  }
}
